@use '../../scss/variables.scss' as *;

.account {
  margin: $spacing-largest auto;
  display: flex;
  flex-direction: column;
  max-width: $formfield-max-width;

  .MuiTextField-root, .MuiAlert-root {
    margin-bottom: $spacing-larger;
  }
}
